<ul nz-menu nzMode="inline" style="width: 100%; height: 5%; " >
  <li nz-menu-item routerLink="accionistas"> Datos de Accionista</li>
</ul>

<body class="p-3 m-0 border-0 bd-example m-0 border-0 bd-example-cssgrid">
  <div class="row" style="height: 100% !important;">
  <!-- buscador de accionistas -->


  <div class="col-4">
    <app-acc-table></app-acc-table>
</div>
  <!--  desde aqui es el editor de accionistas -->
<div class="col-md-7" >
  <app-acc-crud></app-acc-crud>
</div>
</div>
</body>
